{% extends 'base.html.twig' %}

{% block body %}
  {% for fortune in form %}
  <div class="form">
    <form class="case" action="{{ path('new') }}" method="post" novalidate>
      {{ form_widget(form) }}
    </form>
  </div>
  {% endfor %}
{% endblock %}

{% block stylesheets %}
<style>
.form {width:30%;margin:auto;}
input{width:100%; margin-top:10px;}
textarea{height:30px;}
</style>
{% endblock %}
